<h2>Private by Design</h2>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Secure Networking</h3>
    <p>🚦 Datura Firewall gives you fine-grained control over network access for all of your apps.</p>
    <p>🤝 Tethered network devices (USB or Wi-Fi) can use the phone's VPN or Tor.</p>
    <p>🥸 Free and trusted VPNs from <a href="https://f-droid.org/en/packages/org.calyxinstitute.vpn/" rel="noopener noreferrer nofollow" target="_blank">The Calyx Institute</a> and <a href="https://f-droid.org/en/packages/se.leap.riseupvpn/" rel="noopener noreferrer nofollow" target="_blank">Riseup</a>.</p>
    <p>🌎 Cloudflare DNS is available as a Private DNS provider.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/network.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Limitless Functionality</h3>
    <p>✌️ [[microg]] replaces some functions of Google Play Services while maintaining much more anonymity and privacy. Completely Optional.</p>
    <p>🗺️ <a href="https://location.services.mozilla.com/" target="_blank" rel="noreferrer nooopener">Mozilla Location Services</a> (and Dejavu) available as default location services.</p>
    <p>📍 <a href="https://nominatim.org/" target="_blank" rel="noreferrer nooopener">Nominatim</a> available as default geocoding service.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/location.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Device Security</h3>
    <p>📆 Automatic monthly over-the-air security updates.</p>
    <p>⏲ Ability to turn-off Wi-Fi and Bluetooth when not being used.</p>
    <p>🔐 Verified Boot ensures that the operating system has not been modified.</p>
    <p>🛑 Block unknown USB devices.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/device-security.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Trusted Agent</h3>
    <p>⚙️ Privacy settings lets you see what apps are requesting which permissions</p>
    <p>🚨 Panic button functionality lets a user uninstall apps and more.</p>
    <p>🤫 Sensitive Numbers privacy. Calls to numbers for help lines such as domestic violence, child abuse, suicide hotlines are not recorded in the call log.</p>
    <p>📇 Access these numbers in the Helplines Dialer entry.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/agent.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Secure Backup</h3>
    <p>⏰ Automatic backups (once configured) of your apps.</p>
    <p>☁️ Backup your files to a USB drive or <a href="https://nextcloud.com/" rel="noopener noreferrer nofollow" target="_blank">Nextcloud</a></p>
    <p>🔐 Client-side encryption protects all of your backed-up data.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/backup.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Private Dialer</h3>
    <p>📞 Directly make an encrypted call using <a href="https://www.signal.org" rel="noopener noreferrer nofollow" target="_blank">Signal</a> or <a href="https://www.whatsapp.com/" rel="noopener noreferrer nofollow" target="_blank">WhatsApp</a> from the Dialer.</p>
    <p>💡 Learn about the privacy impacts of different channels of communication.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/dialer.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Speak Freely</h3>
    <p>💬 Speak freely with <a href="https://signal.org" rel="noopener noreferrer nofollow" target="_blank">Signal</a> video, calling, and texting.</p>
    <p>📞 eSIM and dual-sim support, where supported by the hardware.</p>
    <p>📧 <a href="https://k9mail.app/" rel="noopener noreferrer nofollow" target="_blank">K-9</a> Email client</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/communication.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Browse without Censorship</h3>
    <p>🦆 Chromium based on <a href="https://github.com/uazo/cromite" rel="noopener noreferrer nofollow" target="_blank">Cromite</a> is the default web browser and search engine, which blocks ads and trackers.</p>
    <p>🥸 Use <a href="https://www.torproject.org/download/#android" rel="noopener noreferrer nofollow" target="_blank">Tor Browser</a> to browse the internet without being tracked.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/internet.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Your Favorite Apps</h3>
    <p>🎁 Get free and open source apps from <a href="https://f-droid.org/" rel="noopener noreferrer nofollow" target="_blank">F-Droid</a>.</p>
    <p>🛍 Use <a href="https://f-droid.org/en/packages/com.aurora.store/" rel="noopener noreferrer nofollow" target="_blank">Aurora Store</a> to install from the Google Play catalog anonymously.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/app-store.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Strong Authentication</h3>
    <p>🙈 Scramble lockscreen PIN</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/auth.png' | relative_url }}" alt="#">
  </div>
</div>
